[train]
epoch = 16
batch_size = 18

reader_num = 10

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval]
batch_size = 18

reader_num = 10

[data] #data parameters
train_dataset_type = sent
train_formatter_type = SentSent
train_data_path = /data/disk5/private/xcj/IRClass/data/TextClassification/trees/train.txt


valid_dataset_type = sent
valid_formatter_type = SentSent
valid_data_path = /data/disk5/private/xcj/IRClass/data/TextClassification/trees/dev.txt


test_dataset_type = sent
test_formatter_type = SentSent
test_data_path = /data/disk5/private/xcj/IRClass/data/TextClassification/trees/test.txt


recursive = False
max_len = 70

word2id = /data/disk5/private/xcj/IRClass/data/TextClassification/wordvec/word2id.json
wordvec_path = /data/disk5/private/xcj/IRClass/data/TextClassification/wordvec/wordvec.npy
word_num = 400002


[model]
model_name = SentClassify
sentiment_num = 5
encoder_name = LSTM
hidden_size = 256
emb_size = 300
num_layers = 3

dropout = 0.3

min_gram = 2
max_gram = 5
filters = 64

[output]
output_time = 1
test_time = 1

model_path = /data/disk5/private/xcj/IRClass/model
model_name = SentClassify

tensorboard_path = /data/disk5/private/xcj/IRClass/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_f1,accu

tqdm_ncols = 150
